<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style1.css">
</head>
<body>
    <nav class="navbar">
        <ul>
            <img class="company-logo "src="https://www.eppisai.com/static/media/logo_light.4875494a.svg" alt="logo">
             <li>About</li>  
             <li>Explore</li>
             <li>Resources</li> 
             <li>Pricing</li>
             <button>Jump right in!</button>
        </ul>
    </nav>

<section>
    <div class="container">
        
    </div>
</section>

</body>
</html>